/* import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* tailwind config */
@tailwind base;
@tailwind components;
@tailwind utilities;
/*General styles */

:root {
    --primary-color: red;
    --header-bg: green;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

ul>li {
    list-style: none;
}

/* Input */
input:focus {
    border: none;
}

/*  Typography */

h1, h2, h3, h4, h5, h6, p, span, a, button {
    font-family: 'Poppins', sans-serif;
}

/* || Header and Main Navigation */

header {
    padding: 10px 5px;
    z-index: 997;
    height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

aside {
    position: fixed;
    height: 100vh;
    overflow-y: scroll;
    width: 300px;
    top: 60px;
    left: 0;
    transition: all 0.5s;
}

main {
    margin-left: 300px;
    min-height: 100vh;
    transition: all 0.5s;
    margin-top: 60px;
    padding: 30px;

}

footer {
    margin-left: 300px;
    transition: all 0.5s;
}

.login__container {
    width: 100%;
    height: 100vh;
    background: url('../src/assets/images/login-bg.jpg') no-repeat center;
    background-size: cover;
    position: relative;
    padding: 0;
    display: flex;
    align-items: center;
}
.login__container:before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

}
    .toggle aside {
        left: -300px;
    }

    .toggle main,
    .toggle footer {
        margin-left: 0px;
    }
